@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

body {
  font-size: 14px;
  color: #041e42;
  line-height: 1.5;
  font-family: "Noto Sans KR", sans-serif;
}

.container {
  display: flex;
  max-width: 1040px;
  margin: 0 auto;
}

.header {
  color: #041e42;
}

.header .container {
  height: 80px;
  align-items: center;
  gap: 30px;
  max-width: 1040px;
  margin: 0 auto;
}

.logo {
  margin-right: auto;
  align-items: center;
}

.gnb {
  display: flex;
}

.gnb li {
  position: relative;
}

.gnb li a {
  display: block;
  height: 40px;
  padding: 0 30px;
  line-height: 40px;
  font-size: 14px;
}

.gnb li a:hover {
  color: #eb5757;
}

.gnb li.active a {
  color: #eb5757;
}

.gnb li ul {
  display: none;
  position: absolute;
  width: 115px;
  background-color: #041e42;
  margin: 0 auto;
  left: 0;
  top: 40px;
  border-radius: 4px;
}

.gnb li ul li {
  padding: 10px 10px 10px 10px;
}

.gnb li ul li a {
  line-height: 15px;
  text-align: center;
  padding: 10px;
  color: #fff;
}

.gnb li:hover ul {
  display: block;
  z-index: 10;
}

.gnb li ul li a:hover {
  color: #eb5757;
}

.login {
  /* border: 1px solid #041e42;
  color: #041e42;
  width: 84px;
  height: 38px;
  border-radius: 0;
  text-align: center; 
  */
  border: 1px solid #041e42;
  background-color: #041e42;
  color: #fff;
  width: 84px;
  height: 38px;
  border-radius: 7px;
  text-align: center;
}

.login a {
  width: 84px;
  height: 38px;
  line-height: 38px;
}

.login a:hover {
  color: #eb5757;
}

/* section */

.section {
  height: 1400px;
}

.section .container {
  display: flex;
  flex-direction: column;
}

.section .container h3 {
  margin-top: 100px;
  font-size: 32px;
  font-weight: 700;
}

.section .container p {
  margin-top: 74px;
  margin-left: 40px;
  margin-bottom: 24px;
}

.section .container p span {
  font-weight: 700;
}

table {
  /* border: 1px solid #041e42; */
  width: 1020px;
  margin: 0 auto;
  border-collapse: collapse;
  border-top: 2px solid #041e42;
  border-bottom: 2px solid #041e42;
}

#th1 {
  height: 50px;
  background-color: rgba(4, 30, 66, 0.05);
}

#td1 {
  height: 50px;
  text-align: center;
}

#td2{
	 height: 50px;
}

#td3{
	background-color: red;
}

#td1:nth-child(2) {
  text-align: left;
  padding-left: 10px;
}

.btn {
  display: flex;
  justify-content: flex-end;
  margin-top:30px;
}

.btn button {
  background-color: #041e42;
  color: #fff;
  height: 45px;
  width: 110px;
}

/* footer */

.footer {
  background-color: #041e42;
  height: 150px;
}

.footer .container {
  display: flex;
  flex-direction: column;
}

.footer .container .social {
  font-size: 28px;
  margin: 0 auto;
  height: 50px;
  line-height: 50px;
  margin-top: 35px;
  margin-bottom: 10px;
  color: #fff;
}

.footer .container .copyright {
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.7);
}

